body {
    font-family: Arial, sans-serif;
    background-color: #f4f8ff;
    text-align: center;
    margin-top: 100px;
}

h1.success {
    color: #4CAF50;
}

h1.error {
    color: #D32F2F;
}

p {
    color: #555;
}
