* {
    box-sizing: border-box;
    font-family: 'Century Gothic', 'Segoe UI', 'Arial', 'Helvetica', sans-serif;
    color: #0D0D0D;
}

body {
    background: linear-gradient(
            45deg,
            #6a6a6a 0%,
            #8e6b64 15%,
            #5d9589 30%,
            #9575CD 50%,
            #6574c3 70%,
            #44519e 85%,
            #4651c5 100%
    ) fixed;
    min-height: 100vh;
    color: white;
    margin: 0;
    padding: 20px;
}

body.signup-background {
    background: linear-gradient(
            120deg,
            #2b0000 0%,
            #660000 20%,
            #ac360e 40%,
            #a54627 60%,
            #9a5029 80%,
            #4e0707 100%
    );
}

.panel {
    display: flex;
    background-color: #FFFFFF;
    border-radius: 25px;
    height: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#adminContainer {
    text-align: center;
    margin: 25px auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#introPanel {
    width: 730px;
}

#adminPanel {
    width: 280px;
}

#introPanel.reverse {
    flex-direction: row-reverse;
}

#sideImage {
    height: 400px;
    width: auto;
    margin: 25px;
    border-radius: 15px;
    transition: opacity 0.3s ease;
}

.form {
    transition: transform 0.3s ease;
}

#entryForm {
    width: 275px;
    margin: auto;
    transform: translate(-12.5px, 0);
}

#adminFunc {
    font-size: x-small;
    margin-bottom: 20px;
}

h3 {
    font-size: x-large;
    margin-bottom: 0;
    margin-top: 0;
}

#adminHead {
    margin-bottom: 20px;
}

p, label {
    font-size: x-small;
    font-weight: bold;
}

label {
    text-align: left;
}

#formSubtitle, #toggleText, #result {
    font-weight: normal;
}

#formSubtitle.error, #result.error {
    color: red;
    font-weight: normal;
    font-size: x-small;
}

.solid {
    margin: 25px 0;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type=text], input[type=password], select {
    width: 100%;
    font-size: small;
    padding: 9px 10px;
    margin-bottom: 15px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    color: white;
    padding: 12px 20px;
    margin-top: 20px;
    margin-bottom: 0;
    border: none;
    border-radius: 5px;
    font-size: small;
    cursor: pointer;
}

#submitButton {
    margin-top: 10px;
}


input[type=submit].btn-login {
    background-color: #38077F;
}

input[type=submit].btn-login:hover {
    background-color: #5B2778;
}

input[type=submit].btn-signup {
    background-color: #870C06;
}

input[type=submit].btn-signup:hover {
    background-color: #C7140D;
}

input[type=submit].btn-admin {
    background-color: #006A50;
}

input[type=submit].btn-admin:hover {
    background-color: #00A881;
}

#toggleText {
    text-align: center;
}

a {
    font-weight: bold;
}

#result {
    margin: auto;
    transform: translate(0, 0px);
}

.hide {
    display: none;
}

#announceText {
    width: 100%;
    height: 75px;
    min-height: 75px;
    max-height: 75px;
    margin-bottom: 15px;
    resize: vertical;
    box-sizing: border-box;
    font-size: x-small;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}